/*======================================================
===========================ABOUT========================
=======================================================*/

.about{
    margin-bottom: 53px;

    display: flex;
}

.about::before{
    display: block;
    content: "";
    width: 490px;
    height: 505px;
    background: url(../img/cameraman.jpg) center center / cover no-repeat;
}

.about__content{
    display: block;
    background: #fff;
    color: #000;

    max-width: 785px;
    min-height: 455px;

    margin-left: -130px;
    margin-top: 100px;
}

.about__title{
    font-weight: 800;
    font-size: 36px;
    
    text-transform: uppercase;

    margin-bottom: 37px;
}

.about__title, .about__content-text, .about__button{
    margin-top: 70px;
    margin-left: 81px;
}

.about__content-text{
    margin-bottom: 43px;
    margin-right: 202px;
}

.about__content-text p{
    margin-bottom: 20px;
}

.about__content-text p:last-child{
    margin-bottom: 0;
}