.contacts{

    text-decoration: none;
}

.contacts__num{
    font-size: 26px;
    line-height: 1.34;

    transition: 0.3s;
}

.contacts__num:hover{
    color: #FF3D00;
}
.contacts__graph{
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
    text-align: right;
    margin-top: 0px;
}