.header{
    min-height: 73px;

    margin-bottom: 110px;
    margin-top: 23px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col{
    display: flex;
    align-items: center;
}

.header__col--align--right{
    justify-content: flex-end;
}





