.inner-section{
    background-color: #fff;
    color: #202123;
    padding: 95px 0;
}

.inner-section--bg--grey{
    background: #f4f5f5;
    padding-bottom: 121px;
    margin-bottom: 0px;
}

.inner-section__title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 82px;
}