/*======================================================
===========================NEWS=========================
=======================================================*/

.news-section{
    margin-bottom: 141px;
}

.news{
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}

.news__title{
    margin-bottom: 65px;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.news__list{
    display: flex;
}

.news__item{
    width: 555px;
    position: relative;
    overflow: hidden;
    margin-right: 25px;
}

.news__item:last-child{
    margin-right: 0;
}

.single-news{
    position: relative;
    overflow: hidden;
}

.single-news__cover{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-news__content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 140px;
    margin-left: 31px;
    margin-bottom: 22px;

    width: 85%;
}

.single-news__date{
    font-size: 14px;
    margin-bottom: 18px;
}

.single-news__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.single-news__desc{
    font-size: 16px;
    line-height: 1.42;
}







