/*======================================================
========================PREVIEW=========================
=======================================================*/

.preview{
    text-align: center;
    margin-bottom: 232px;
}

.preview__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview__content{
    width: 776px;
    position: relative;
    margin: 0 auto;
}

.preview__title{
    font-size: 72px;
    font-weight: 800;
    line-height: 1.35;
    text-transform: uppercase;

    margin-bottom: 16px;
}

.preview__text{
    font-size: 18px;
    margin-bottom: 40px;
}

.preview__button .button{
    background: #FF3D00;
    border-radius: 35px;
    border: 3px solid #FF3D00;

    padding: 18px 51px;

    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    transition: background .3s;
    cursor: pointer;
}

.preview__button .button:hover{
    background: #fff;
    color: #FF3D00;
}