.top-line__container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-line{
    min-height: 416px;
    background: url(../img/services/service-top-line.jpg) right top no-repeat;
    display: flex;
    flex-direction: column;

    padding-bottom: 20px;
}